<template>
    <lightning-card>

        <lightning-layout multiple-rows="true">
            <template for:each={lstFields} for:item="field">
                <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                    <div class="page-section page-header">

                        <lightning-input key={field.apiName} label={field.label} name={field.apiName}
                            required={field.isRequired} onchange={inputHandler} value={field.val} type={field.type} checked ={field.val}
                            variant={field.variant} maxlength={field.maxlength} disabled={buttonstatus} pattern={field.pattern}>
                        </lightning-input>
                    </div>
                </lightning-layout-item>
            </template>

        </lightning-layout>
        <div class="slds-align_absolute-center slds-p-around_medium">

            <lightning-button variant="brand" label={buttonLabel} title="SAVED SUCCESSFULLY"
                onclick={createStudentRecord} class="slds-m-left_x-small"></lightning-button>
            
                <lightning-button if:false={buttonstatus} variant="brand-outline" label="CANCEL" title="CANCEL RECORDS"
                    class="slds-m-left_x-small" onclick={cancelAction}>
                </lightning-button>
        </div>


    </lightning-card>


</template>