<template>
    <lightning-card>
        <template if:false={recordId}>
            <lightning-layout multiple-rows="true">
                <template for:each={lstFields} for:item="field">
                    <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                        <div class="page-section page-header">

                            <lightning-input key={field.apiName} label={field.label} name={field.apiName}
                                required={field.isRequired} onchange={inputHandler} value='' type={field.type}
                                variant='' pattern="">
                            </lightning-input>
                        </div>
                    </lightning-layout-item>
                </template>

            </lightning-layout>
            <div class="slds-align_absolute-center slds-p-around_medium">
                <lightning-button variant="brand" label="SAVE" title="Successful action" onclick={createStudentRecord}
                    class="slds-m-left_x-small"></lightning-button>
                <lightning-button variant="brand-outline" label="CANCEL" title="Destructive action"
                    class="slds-m-left_x-small" onclick={cancelAction}>
                </lightning-button>
            </div>
        </template>
        <template if:true={recordId}>
            <lightning-layout multiple-rows="true">
                <template for:each={lstFields} for:item="field">
                    <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                        <div class="page-section page-header">

                            <lightning-input key={field.apiName} label={field.label} name={field.apiName}
                                required={field.isRequired} onchange={inputHandler} type={field.type}
                                 value={field.val} disabled={buttonstatus} checked ={field.val} variant={field.variant} pattern={field.pattern} maxlength={field.maxlength}>
                            </lightning-input>
                        </div>
                    </lightning-layout-item>
                </template>

            </lightning-layout>
            <div class="slds-align_absolute-center slds-p-around_medium">
                <div if:true={buttonstatus}>
                <lightning-button variant="brand" label="EDIT" title="Successful action" onclick={editForm}
                    class="slds-m-left_x-small"></lightning-button>
                </div>
                <div if:false={buttonstatus}>
                    <lightning-button variant="brand" label="SAVE" title="Successful action" onclick={createStudentRecord}
                        class="slds-m-left_x-small"></lightning-button>
                        <lightning-button variant="brand-outline" label="CANCEL" title="Destructive action"
                        class="slds-m-left_x-small" onclick={cancelAction}>
                    </lightning-button>
                    </div>
               
            </div>
        </template>
       
    </lightning-card>


</template>